th, td {
                vertical-align: top;
                text-align: left;
                font-size:large;
                width: 500px;
}
#dcha {
                text-align: right;
}
#converted {    
                color: red; 
                font-weight: bold; 
                font-size:large;
                width: 500px;
}
input {
                text-align: right;
                border: none;
                border-radius: 20px 20px 20px 20px;
                padding: 5px  5px;
                font-size:large;
                font-family: cursive, monospace;
                color: white;
                background-color: #6E6E6E;
                width: 500px;
}
body {
                background-image: url(img/desktop-owl-hd-images.jpg);
                font-size:large;
                font-family: cursive, monospace;
                color: #1C1C1C;
}

h1 {
                font-weight: normal;
                font-family: Fixed, monospace;
                padding: 5px 15px;
                border-radius: 10px 10px 10px 10px;
                text-align: center;
}
table {
                margin: auto;
}
